<h1>User</h1>

<div class="card text-white bg-dark" style="max-width: 85rem;">
      <div class="card-header">USER ROLE</i></div>
      <div class="card-body">
        <h5 class="card-title">USER ROLE</h5>
        <p class="card-text text-white">By clicking this page you will be able to CRUD (Create, Read, Update, Delete) User Role</p>
      </div>
      <a routerLink="add" class="btn btn-sm btn-primary mb-2">List User Role Page</a>
</div>

<p></p>

<div class="card text-white bg-dark" style="max-width: 85rem;">
      <div class="card-header">ASSIGN USER ROLE</div>
      <div class="card-body">
        <h5 class="card-title">ASSIGN USER ROLE</h5>
        <p class="card-text text-white">By clicking this page you will be able to Assign a User Role to an Employee</p>
      </div>
      <a routerLink="add" class="btn btn-sm btn-primary mb-2">Assign Page</a>
</div>
